@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
  background: #eee;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 450px;
  background: #fff;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3), -3px -2px 3px rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 15px 25px;
  border-radius: 15px;
  background: rgb(225, 123, 225);
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  border: 0;
  margin-top: 50px;
}
.btn:active {
  transform: scale(0.96);
}
.quotes {
  padding: 0 5%;
}
